<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnterSentials.Framework.SendGrid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnterSentials.Framework.SendGrid.Properties.Settings>
            <setting name="SendGridUserName" serializeAs="String">
                <value>azure_04ff91e7ecc84994d1d0f18a55625bc4@azure.com</value>
            </setting>
            <setting name="SendGridPassword" serializeAs="String">
                <value>KDm5b5JDFvXctwn</value>
            </setting>
        </EnterSentials.Framework.SendGrid.Properties.Settings>
    </applicationSettings>
</configuration>