<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnterSentials.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnterSentials.Framework.Properties.Settings>
            <setting name="ShieldFromDataAccessExceptionsExceptionPolicyName"
                serializeAs="String">
                <value>ShieldFromDataAccessExceptions</value>
            </setting>
            <setting name="ShieldFromBusinessLogicExceptionsExceptionPolicyName"
                serializeAs="String">
                <value>ShieldFromBusinessLogicExceptions</value>
            </setting>
            <setting name="DefaultExceptionPolicyName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Culture_EnglishUS_Name" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ApplicationConfigurationSectionName" serializeAs="String">
                <value>application</value>
            </setting>
            <setting name="ComponentsProviderAssemblyQualifiedTypeName" serializeAs="String">
                <value>EnterSentials.Framework.Unity.UnityBasedComponents, EnterSentials.Framework.Unity</value>
            </setting>
            <setting name="AuditableDomainObjectIsActiveOnCreation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldIncludeNoCacheHeaderForCors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldIncludePreflightResponseMaxAgeHeaderForCors"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreflightResponseMaxAgeInSeconds" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="DotNetJsonSerializerMaxJsonLength" serializeAs="String">
                <value>2147483647</value>
            </setting>
        </EnterSentials.Framework.Properties.Settings>
    </applicationSettings>
</configuration>