<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnterSentials.Framework.EntLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnterSentials.Framework.EntLib.Properties.Settings>
            <setting name="DefaultLoggingAzureInstanceName" serializeAs="String">
                <value>entersentialsstorage</value>
            </setting>
            <setting name="DefaultLoggingAzureStorageAccountConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=entersentialsstorage;AccountKey=KrC1Ivaaqqj9v8Pm+yNF3sNKmM/jYc30crOC1BNUTUKEbLFrUPsb0S8+DvLhr8gxP7s1xIFU+F1cDn2gHn9ljg==</value>
            </setting>
            <setting name="DefaultLoggingAzureTableName" serializeAs="String">
                <value>SLABLogsTable</value>
            </setting>
            <setting name="AllowLoggingToAzureTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowLoggingToWindowsEventLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultLoggingEventLevel" serializeAs="String">
                <value>Verbose</value>
            </setting>
        </EnterSentials.Framework.EntLib.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>